<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#d1d1d1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ClevrPwn">
  <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}">
  <meta property=og:url content="{{ site.url}}">

  <title>
      {{ site.title }} &middot; {{ page.title }}
  </title>

  <link rel="stylesheet" href="{{ site.url }}/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="{{ site.url }}/stylesheets/github-light.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="canonical" href="{{ site.url }}">
</head>