<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <section class="page-header">
      <h1 class="project-name"><a href="https://ioshackerwiki.com">iOS Hacker Wiki<a></h1>
    </section>

      <section class="main-content">
      <h1>Welcome to the iOS Hacker Wiki</h1>
      <p>If you have anything you want added or changed to this wiki, feel free to open a <a href="https://github.com/iOS-10-Stuffs/iOS-10-stuffs.github.io/pulls">Pull Request</a> or Tweet me <a href="https://twitter.com/ClevrPwn">@ClevrPwn</a>.</p>
        {{ content }}
      </section>

  </body>
</html>
